/*importing variables and normalize file*/
@import 'variables';

/*Universal styling*/
h1 {
    text-align: center;
    border: $hborder;
    font-family:$hfont;
    color: $black;
    background-color:$bgcolor;
    margin: 5px 400px;
}

h2 {
    text-align: center;
    font-family: $hfont;
    background-color: $gcol;
    border-radius: 50px;
    margin: 5px 400px;
}
/*body styling and background image*/
body {
    font-family:$bfont;
    color: $white;
    /*background image styling*/
    background-image: url("../images/backgroundimage.jpg");
    width: 100%;
    height: 400px;
    background-size: 100% 100%;
}

p {
    background-color: $bgcolor;
    color: $black;
    margin: 5px 100px;
}

/*logo image*/
.logo {
    max-width: 350px;
    text-align: center;
    margin: auto;
}

/*mixin for the grid portion + media queries*/
@mixin thegrid {
    /*mobile media query*/
    @media screen and (max-width: $mobile) {
        .grid {
            display: grid;
            grid-template-columns: auto auto;
            background-color:$gcol;
            border:$gborder;
            color: $black;
        }

        .grid-item {
            background-color:$gicol;
            padding: $gpad;
            margin: $gmarg;
            text-align: center;
        }

        ul {
            list-style-type: square;
            text-align: left;
        }
    }

    /*tablet media query*/
    @media screen and (min-width: $tablet) {
        .grid {
            display: grid;
            grid-template-columns: auto auto;
            border:$g2border;
        }
    }
    
    /*desktop media query*/
    @media screen and (min-width: $desktop) {
        .grid {
            display: grid;
            grid-template-columns: auto auto auto auto;
            border: $gborder;
            background-color: $gcol;
            color:$black;
        }

        .grid-item {
            padding: $gpad;
            margin: $gmarg;
            background-color: $gicol;
            text-align: center;
        }
    }
}