/*media query variables*/
$mobile: 700px;
$tablet: 701px;
$desktop: 1000px;

/*color scheme colors*/
$gold: rgb(255,202,6);
$black: rgb(0,0,0);
$white: white;
$bgcolor: rgb(253, 253, 193);
$bgcolor2: rgb(133, 133, 121);

/*grid colors*/
$gcol: rgb(141, 115, 44);
$gicol: rgb(255, 237, 176);

/*border styling*/
$hborder: 10px groove gold;
$gborder: 10px outset gold;
$g2border: 6px solid rgb(133, 133, 121);
$giborder: 2px solid rgb(141,115,44);
$imgborder: 5px solid white;
$border: 50px;

/*fonts*/
$hfont:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$bfont:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

/*grid margins and padding*/
$gpad: 5px;
$gmarg: 5px 0px;

/*margins and padding*/
$marg: 50px 0px;
$pmarg: 0px 75px;
$p2marg: 0px 200px;
$parapad: 10px;

/*image styling*/
$imgsize: 100% 100%;
$width: 100%;
$height: 400px;
$imgw1: 200px;
$imgw2: 300px;
$imgm: 5px;
$lwidth: 300px;