/*media query variables*/
$mobile: 600px;
$tablet: 720px;
$desktop: 721px;

/*colors*/
$gold: rgb(255,202,6);
$black: rgb(0,0,0);

/*border stuff*/
$hborder: 10px groove gold;

/*images*/
$bg: images/backgroundimage.jpg;